/* Google Font (Roboto) */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

/* Header */

header {
    background-color: #fff;
    top: 0;
    position: sticky;
    z-index: 2;
}

#header-1 .img-cont img{
    width: 55px;
}

#header-1 .icons-cont .container{
    background-color: #EBF1FF;
    border: none;
    width: 40px;
    height: 40px;
    padding: 7px;
    border-radius: 50%;
}

#header-1 .icons-cont h1 {
    margin-top: 5px;
    color: #002F34;
    font-size: 16px;
    font-weight: 700;
}

#header-1 .icons-cont .container img {
    width: 100%;
}

#header-2 {
    height: 50px;
}

#header-2 select {
    width: 25%;
}

#header-2 .search-bar {
    height: 50px;
    border-radius: 5px;
    width: 60%;
    border: 1px solid #d8dfe0;
}

#header-2 .search-bar input {
    width: 100%;
    outline: none;
    border: none;
}

#header-2 .search-bar i {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    background-color: #002F34;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 50px;
    color: #fff;
}

#header-2 .btn-login {
    color: #002F34;
    border: none;
    font-size: 16px;
    background-color: transparent;
    text-decoration: underline;
    text-decoration-color: #002F34;
    font-weight: 700;
}

#header-2 .btn-login:hover {
    text-decoration: none;
}

#header-2 .btn-sell {
    border: none;
    background-image: url(./images/sell-btn-bg.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #002F34;
}

header .links-container {
    padding-bottom: 10px;
    border-top: 1px solid #EBF1FF;
    height: 40px;
    margin-top: 20px;
}

header .links-container .links {
    margin-top: 10px;
}

header .links-container .links h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #002F34;
}

header .links-container .links a {
    font-size: 14px;
    color: #002F34;
    text-decoration: none;
}

header .links-container .links a:hover {
    color: #00ADC7;
}

#main {
    margin-top: 30px;
}

#main .slider .carousel .carousel-inner .carousel-item img {
    border-radius: 5px;
}

#main .categories{
    margin-top: 50px;
}

#main .categories h1 {
    color: #002F34;
    font-size: 24px;
    font-weight: 700;
}

#main .categories .cate-box {
    margin-top: 30px;
    text-align: center;
    width: 100px;
    height: 75px;
}

#main .categories .cate-box img {
    width: 100%;
    height: 100%;
}

#main .categories .cate-box h5 {
    font-size: 16px;
    margin-top: 5px;
}

#main .products-container {
    margin-top: 100px;
}

#main .products-container .heading h1{
    font-size: 24px;
    font-weight: 700;
    color: #002F34;
}

#main .products-container .heading button {
    border: none;
    background-color: transparent;
    color: #3A79FF;
    font-weight: 700;
    font-size: 16px;
}

#main .products-container .heading button i {
    margin-left: 5px;
}

#main .products-container .products {
    margin:20px 0px;
}

#main .products-container .products .card {
    height: 370px;
    padding: 0;
    width: 300px;
}

#main .products-container .products .card img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}

#main .products-container .products .card .price h5 {
    font-size: 16px;
    font-weight: 700;
    color: #002F34;
}

#main .products-container .products .card .price i {
    font-size: 16px;
    color: #002F34;
}

#main .products-container .products .card .card-text {
    color: #002F34;
    font-size: 16px;
}

#main .products-container .products .card p {
    font-size: 14px;
    color: #406367;
}

#main .products-container .products .card h6 {
    color: #406367;
    font-size: 12px;
    font-weight: 400;
}

#main .m-banner {
    margin-top: 50px;
    background-color: #F7F8F9;
}

#main .m-banner .content .divider{
    align-self: center;
    height: 150px;
    width: 3px;
    background-color: #d8dfe0;
}

#main .m-banner .content .txt {
    width: 50%;
}

#main .m-banner .content .txt h3 {
    line-height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    color: #002F34;
}

#main .m-banner .content .txt p {
    font-weight: 400;
    font-size: 20px;
    color: #002F34;
}

#main .m-banner .content .download {
    width: 50%;
}

#main .m-banner .content .download h6 {
    line-height: 70px;
    font-size: 14px;
    color: #002F34;
    font-weight: 700;
}

#main .m-banner .content .download .platforms img {
    width: 130px;
}

footer {
    padding: 20px 0px 0px 0px;
    background-color: #EBEEEF;
    border-top: 1px solid #d8dfe0;
}

footer .columns {
    padding-bottom: 50px;
}

footer .columns .column h6 {
    line-height: 40px;
    font-size: 14px;
    color: #002F34;
    font-weight: 700;
}

footer .columns .column p {
    line-height: 5px;
    font-size: 12px;
    color: #406367;
}

footer .columns .column p:hover {
    color: #002F34;
    cursor: pointer;
}

footer .columns .column .social i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #406367;
    border-radius: 50%;
    border: 1px solid #406367;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    font-size: 10px;
}

footer .columns .column .platforms {
    margin-top: 20px;
}

footer .columns .column .platforms img {
    width: 80px;
}

footer .copy {
    height: 50px;
    background-color: #002F34;
}

footer .copy h6 {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
}

footer .copy h5 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}